body {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin:0;
    padding: 0;
}

#logo {
    position: absolute;
    top: 7.9%;
    left: 11.45%;
    height: 2.9%;
    width: 10.76%;
}

.background {
    position: fixed;
    z-index:-1;
    right:0;
    width: 29%;
    height: 100%;
    background-color: black;
}

.boxBox {
    width: 77%;
    height:50%;
    /* border: solid red 1px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 .infoContainer {
    /* border: solid blue 1px; */
    width: 47%;
    height: 90%;
    display: flex;
    flex-direction: column;
 }

 .infoContainer__textContainer {
     /* border: solid pink 1px; */
     height: 60%;
 }

 h1 {
    margin-top: 0px;
    margin-bottom: 1.66vw;
    font-family: 'Kumbh Sans';
    font-size: 3.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.0vw;
    letter-spacing: 0px;
    text-align: left;
    color: #333950;
}

p {
    margin-top: 0px;
    margin-bottom: 0;
    font-family: 'Kumbh Sans';
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9vw;
    letter-spacing: 0px;
    text-align: left;
    color: #747B95;
}

.infoContainer__countdownContainer {
    /* border: solid 1px orange; */
    width: 83%;
    height:40%;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Kumbh Sans';
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.3vw;
    letter-spacing: 0.3vw;
    text-align: left;
    color: #333950;
}

.date {
    margin-top: 0px;
    margin-left: 1.5%;
    font-family: 'Kumbh Sans';
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.3vw;
    letter-spacing: 0.3vw;
    text-align: left;
    color: #5175FF;
}

 .dateBox {
     /* border: solid red 1px; */
     height: 30%;
     width: 100%;
 }

 .countdownContainer__boxes {
    /* border: solid purple 1px; */
    margin-bottom: 0px;
    margin-left: 0px;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
}

.boxes{
    box-sizing: border-box;
    padding-top: 5%;
    width: 22%;
    height: 100%;
    background-color: rgba(81,117,255,0.1);
    border-radius: 13px;
    color: #333950;;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    line-height: 3.3vw;
    letter-spacing: 0px;
    text-align: center;
}

.boxes, .jsDate {
    display: block
}

.boxes {
    font-size: 1.4vw;
}

 .jsDate {
    color: #5175FF;
    font-size: 2.4vw; 
    margin-bottom: -15%;
} 

.signupContainer {
    /* border: solid green 1px; */
    width: 38%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    justify-content: flex-start;
    align-items: center
 }

 .form {
     height: 75%;
     width: 100%;
 }

 input, select {
    box-sizing: border-box;
    width: 85%;
    height: 70%;
    border: none;
    padding-left: 1vw;
    outline: none;
}

select:hover {
    cursor: pointer;
}

.inputContainer {
    box-sizing: border-box;
    width: 80.9%;
    height: 15.85%;
    border-bottom: solid gray 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 4.5%;
    margin-left: 2.98vw;
    padding-left: 1vw;
}

#nameError, #emailError {
    display: none;
}


.price {
    color: rgba(51,57,80,0.4);
}

/* .options {
    width: 25vw;
    height: 3.9vw;
    max-width: 360px;
    max-height: 56.16px;
    border-bottom: 1px solid #999;
    font-size: 1.2vw;
    color: #333950;;
    background-color: #FFF;
    border-radius: 13px;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
} */

.button {
    /* border: black solid 1px; */
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listButton {
    width:81%;
    height: 30%;
    max-width: 360px;
    max-height: 56.16px;
    background: #5175FF;
    border-radius: 28px;
    border: none;
    font-size: 1.2vw;
    color: #FFF;
    outline: none;
}

.listButton:hover {
    cursor: pointer;
}



@media only screen and (max-width: 800px){
    body {
        overflow-y: visible;
    }
    #logo {
        
        top: 5.4%;
        left: 5%;
        height: 2.3%;
        width: 20%;
    }

    .background {
        bottom:0;
        width: 100%;
        height: 28.8%; 
    }

    .boxBox {
        width: 74.6%;
        height:74.9%;
        /* border: solid red 1px; */
        margin-top: 20.6%;
        flex-direction: column;
    }

    .infoContainer {
         /* border: solid blue 1px;  */
        width: 65%;
        height: 40%;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 5%;
     }

     .signupContainer {
        /* border: solid green 1px;  */
        width: 60%;
        height: 60%;       
        align-items: center;
     }

     h1 {
        font-size: 4vw;
        line-height: 3.0vw;
        color: #333950;
    }
    
    p {
        font-size: 2vw;
        line-height: 2.4vw;
        text-align: center;
        margin-bottom: 4%;
    }
    
    .infoContainer__countdownContainer {
        /* border: solid 1px orange;  */
        width: 70%;
        height:60%;
        margin-bottom: 10%;
    }
    
    h4 { 
        font-size: 2vw;
        line-height: 3.3vw;
        text-align: center;
    }
    
    .date {
        margin-left: 1.5%;
        font-size: 2vw;
        line-height: 3.3vw;        
    }
    
     .dateBox {
         /* border: solid red 1px; */
         height: 30%;
         width: 100%;
         margin-bottom: 4%;
     }
    
     .countdownContainer__boxes {
        /* border: solid purple 1px; */
        width: 100%;
        height: 70%; 
    }
    
    .boxes{
        height: 100%;
        font-size: 2vw;
        line-height: 3.3vw;
        text-align: center;
       
    }
    
    /* .boxes, .jsDate {
        display: block;
    } */

    
    
     .jsDate {
       
        font-size: 3vw; 
    } 
    
    .listButton {
        font-size: 1.7vw;
    }
}

@media only screen and (max-width: 425px){

    #logo {
        top: 46px;
        margin-left: 30%;
        height: 30px;
        width: 155px;
    }

    .background {
        position: absolute;
        bottom: -700px;
        width: 110%;
        height: 320px; 
    }

    .boxBox {
        left: 0;
        width: 95%;
        height: 1080px;
        /* border: solid red 1px;  */
        margin-top: 15%px;
    }

    .infoContainer {
        /* border: solid blue 1px;   */
       width: 85%;
       height: 464px;
       margin: auto;
       justify-content: flex-start;
       align-items: center;
    }

    .infoContainer__textContainer{
        margin-bottom: 20%;
    }

    .signupContainer {
         /* border: solid green 1px;   */
        width: 80%;
        height: 465px;       
        align-items: center;
     }

     h1 {
        font-size: 40px;
        line-height: 48px;
        color: #333950;
        text-align: center;
    }
    
    p {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        
    }

    .infoContainer__countdownContainer {
         /* border: solid 1px orange;   */
        width: 80%;
        height: 158px;
        margin-bottom: 10%;
    }
    
    h4 { 
        font-size: 16px;
        line-height: 48px;
        text-align: center;
    }
    
    .date {
        margin-left: 1.5%;
        font-size: 16px;
        line-height: 48px;        
    }
    
     .dateBox {
         /* border: solid red 1px;  */
         height: 30%;
         width: 100%;
     }
    
     .countdownContainer__boxes {
         /* border: solid purple 1px;  */
        width: 120%;
        height: 70%; 
        margin-left: -10%;
    }
    
    .boxes{
        height: 100%;
        font-size: 12px;
        line-height: 28px;
        text-align: center;
        
    }

    .jsDate {
        font-size: 32px; 
        margin-bottom: 2%;
    } 

    .listButton {
        font-size: 16px;
    }
}

